<form ng-submit="chat.addMessage()" class="chat-form">
    <div class="panel panel-info chat-box">
        <div class="panel-heading">
            Name:
            <input ng-model="chat.name" required />
        </div>
        <div class="panel-body" id="chat-messages">
            <ul class="media-list chat-list">
                <li class="media chat-item" ng-repeat="message in chat.messages">
                    <div class="media-body">
                        {{message.text}}
                        <br />
                        <small class="text-muted">{{message.name}} | {{message.tstamp | date:"M/d/yy h:mm a"}}</small>
                        <hr/>
                    </div>
                </li>
            </ul>
            <a id="chat-bottom"></a>
        </div>
        <div class="panel-footer new-message-box">
            <div class="input-group">
                <input ng-model="chat.newMessageText" type="text" class="form-control" placeholder="Enter Message" required />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="submit" >SEND</button>
                </span>
            </div>
        </div>
    </div>
</form>
