<canvas id="drawing" ng-mousedown="drawing.startDrawing($event)" ng-mousemove="drawing.addPoint($event)" ng-mouseup="drawing.endDrawing($event)">
</canvas>
<button class="btn btn-danger clear-screen" ng-click="drawing.clear()">Clear Screen</button>
