.main {
    position: relative;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 75px
}

body {
    position: relative;
    height: 100vh;
    min-width: 600px;
    overflow: hidden;
}

#drawing {
    position: relative;
    height: 100%;
    width: 100%;
}

.draw-area {
    padding: 0px;
    margin: 0px;
    width: 80%;
    height: 100%;
    position: relative;
}

.chat-area {
    padding: 0px;
    margin: 0px;
    width: 20%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.chat-form {
    position: relative;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.media-body {
    padding: 0px;
    margin: 0px;
}

.chat-box {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.chat-list {
    padding: 0px;
    margin: 0px;
}

.chat-item {
    padding: 0px;
    margin: 0px;
}

#chat-messages {
    overflow-y: scroll;
    height: calc(100% - (50px + 55px));
    background-color: white;
    padding-bottom: 50px;
}

.chat-form .panel-heading {
    height: 50px;
}

.new-message-box {
    height: 55px;
}

.chat-box hr {
    margin: 5px 0px 5px 0px;
}

.clear-screen {
    position: absolute;
    top: 10px;
    right: 10px;
}

.web-rtc {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
